@font-face {
  font-family: 'Myanmar Khyaya';
  src: url('./fonts/MyanmarKhyaya.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Myanmar Khyaya', sans-serif;
  background: url("FundoOlhuz.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  color: #0F1A5A;
}

hr {
  border: none;
  height: 1px;
  background-color: #2f7cf6;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 18px 40px;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.logo-img {
  width: 48px;
}

.brand-text h2 {
  font-size: 26px;
  font-weight: normal;
  line-height: 1;
}

.brand-text p {
  font-size: 11px;
  color: #1A1A1A;
}

.menu-principal {
  display: flex;
  gap: 45px;
  justify-content: center;
  flex: 1;
}

.menu-principal a {
  text-decoration: none;
  font-size: 16px;
  color: #1A1A1A;
}

.auth-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  flex: 1;
}

.auth-buttons button {
  padding: 8px 26px;
  border-radius: 50px;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
}

.btn-entrar {
  background-color: #4A90E2;
  border: none;
  color: #fff;
}

.btn-cadastrar {
  background-color: transparent;
  border: 1px solid #4A90E2;
  color: #4A90E2;
}

.area-1 {
  max-width: 1400px;
  margin: 0 auto;
  padding: 70px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-left {
  max-width: 600px;
}

.area-1 h1 {
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 8px;
  gap: 200px;
}

.area-1 h2 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 10px;
}

.area-1 p {
  font-size: 22px;
  margin-bottom: 10px;
  margin-top:30px;
}

.area-1 h3 {
  font-size: 25px;
  font-weight: normal;
  margin-top: 20px;
}

.icones {
  display: flex;
  gap: 18px;
  margin-top: 10px;
}

.icones img {
  width: 36px;
}

.logo-inicial {
  display: flex;
  justify-content: flex-end;
}

.logo-inicial img {
  width: 300px;
  padding-right: 100px;
}

.area-2 {
  width: 100%;
  padding: 80px 40px 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-2 h2 {
  font-size: 46px;
  font-weight: normal;
  color: #0F1A5A;
  margin-bottom: 60px;
}

.cards {
  display: flex;
  gap: 50px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.card-1, .card-2, .card-3 {
  width: 300px;
  height: 180px;
  border-radius: 22px;
  background: url(FundoOlhuz.png);
}
.destaque {
  color: #4A90E2;
  text-shadow: 0 0 6px rgba(74, 144, 226, 0.35);
}

