/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: white;
}

/* HEADER (MESMO DO LOGIN) */
header {
  height: 80px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../Image/HeaderOlhuz.png);
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-img {
  width: 55px;
}

.brand-text h1 {
  font-size: 26px;
}

.brand-text p {
  font-size: 14px;
  opacity: 0.8;
}

.menu-principal a {
  color: black;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 500;
}

.menu-principal a:hover {
  color: #002480;
  text-decoration: underline;
}

/* LAYOUT */
.layout {
  display: flex;
  min-height: calc(100vh - 80px);
}

/* LADO ESQUERDO */
.lado-esquerdo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../Image/FundoOlhuz.png");
  background-size: cover;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}

.conteudo-esquerdo {
  max-width: 750px;
  text-align: center;
}

.conteudo-esquerdo img {
  width: 200px;
  margin-bottom: 30px;
}

.conteudo-esquerdo h2 {
  font-size: 48px;
  color: #1a3a8a;
}

.subtitulo {
  font-size: 22px;
  margin-top: 15px;
  color: #1a3a8a;
}

/* LADO DIREITO */
.lado-branco {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.card {
  width: 75%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h3 {
  margin-bottom: 30px;
  color: #1a3a8a;
  font-size: 30px;
}

/* INPUTS */
.card input {
  width: 100%;
  margin-bottom: 18px;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card input:focus {
  outline: none;
  border-color: #1a3a8a;
}

/* BOTÃO */
.card button {
  width: 100%;
  padding: 14px;
  background: #1a3a8a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.card button:hover {
  background: #4A90E2;
}

/* SENHA */
.campoSenha small {
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
}

.card-interno {
  width: 100%;
  margin-top: 60px;
  padding: 30px;
  border: 1px solid #1a3a8a;
  border-radius: 20px;
  background: white;
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-interno h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #1a3a8a;
}

/* BOTÃO (AGORA É LINK) */

.btn-criar {
  display: inline-block;
  padding: 12px 20px;
  background: #1a3a8a;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.btn-criar:hover {
  background: #4A90E2;
}
/* BARRA DE FORÇA */
.barraForcaContainer {
  width: 100%;
  height: 8px;
  background: #eee;
  border-radius: 10px;
  margin-bottom: 8px;
  overflow: hidden;
}

.barraForca {
  height: 100%;
  width: 0%;
  transition: 0.3s ease;
  border-radius: 10px;
}

/* TEXTO DICAS */
.dicasSenha {
  display: block;
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
}

.inputComOlho {
  position: relative;
  width: 100%;
}

.inputComOlho input {
  padding-right: 40px;
}

.olho {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #777;
  transition: 0.2s;
}

.olho:hover {
  color: #1a3a8a;
}